
.main{
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: hidden;
}

.layout-container{
    display: flex;
    flex:1;
}

.layout{
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 20px 30px;
    max-height: calc(100vh - 110px);
    position: relative;
}

