
.index-page{
    display:flex;
    max-height: 100%;
    min-height: 100%;
}

.charts{
    display:flex;
    flex-direction: column;
    flex:1;
    max-height: 100%;
}

.factorial-controls{
    display: flex;
    flex-direction: column;
    flex:1;
    position: relative;
    max-height: 600px;
    min-height: 600px;
    align-items: center;

}
.factorial-calculator{
    display: flex;
    flex:1;
    max-height: 40px;
    margin: 0 20px;
}

.factorial-results{
    display: flex;
    flex:1;
    max-height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    overflow-y: auto;
}

.live-chart{
    flex-direction: column;
    display: flex;
    flex: 1;
}
.first-chart {
    margin-bottom: 20px;
}